################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.pdb
/DesignPattern/Debug
/x64/Debug/DesignPattern.exe
/x64/Debug/DesignPattern.ilk
/DesignPattern/x64/Debug
/.vs/DesignPattern/v16
